<mat-icon color="primary">home</mat-icon>
<mat-icon color="accent">shopping_cart</mat-icon>
<mat-icon fontSet="minhaFont" fontIcon="fa-home"></mat-icon>
<mat-icon fontSet="minhaFont" fontIcon="fa-shopping-cart"></mat-icon>
<mat-icon svgIcon="meuIcone"></mat-icon>
<mat-icon svgIcon="icones:check"></mat-icon>
<mat-icon svgIcon="icones:arrow-drop-down"></mat-icon>
<mat-icon svgIcon="icones:arrow-drop-up"></mat-icon>








<mat-icon color="accent">angular</mat-icon>

<mat-icon fontSet="fontawesome" fontIcon="fa-birthday-cake"></mat-icon>
<mat-icon fontSet="fontawesome" fontIcon="fa-home"></mat-icon>
<mat-icon fontSet="minhaFont" fontIcon="fa-home"></mat-icon>

<!-- <mat-icon svgIcon="thumb-up"></mat-icon> -->
<!-- <i class="fas fa-home"></i> -->


