<mat-toolbar color="accent" class="mat-elevation-z7">
  menu
  <mat-toolbar-row>
    Angular Material
  </mat-toolbar-row>
</mat-toolbar>

<h1>Lista de exemplos</h1>
<br>

<h5><i>Toolbar simples</i></h5>
<mat-toolbar>menu</mat-toolbar>
<br>

<h5><i>Toolbar com *primary color*</i></h5>
<mat-toolbar color="primary" >menu</mat-toolbar>
<br>

<h5><i>Toolbar com *accent color*</i></h5>
<mat-toolbar color="accent">menu</mat-toolbar>
<br>

<h5><i>Toolbar com *warn color*</i></h5>
<mat-toolbar color="warn">menu</mat-toolbar>
<br>

<h5><i>Toolbar com elevação 0px (zero)</i></h5>
<mat-toolbar class="mat-elevation-z0">menu</mat-toolbar>
<br>

<h5><i>Toolbar com elevação 10px</i></h5>
<mat-toolbar class="mat-elevation-z10">menu</mat-toolbar>
<br>

<h5><i>Toolbar com elevação 24px</i></h5>
<mat-toolbar class="mat-elevation-z24">menu</mat-toolbar>
<br>

<h5><i>Toolbar com mat-toolbar-row</i></h5>
<mat-toolbar>
  menu
  <mat-toolbar-row>
    exemplo com row
  </mat-toolbar-row>
</mat-toolbar>
<br>
<br>
