<!-- .......................... -->
<!-- usando disabled -->
<!-- <mat-form-field>
  <mat-placeholder>elemento desabilitado</mat-placeholder>
  <input matInput type="text" disabled>
</mat-form-field> -->
<!-- .......................... -->

<!-- .......................... -->
<!-- usando textarea -->
<!-- <mat-form-field>
  <textarea matInput></textarea>
</mat-form-field> -->
<!-- .......................... -->

<!-- .......................... -->
<!-- usando matTextareaAutosize -->
<!-- <mat-form-field>
  <textarea matInput matTextareaAutosize></textarea>
</mat-form-field> -->
<!-- .......................... -->

<!-- .......................... -->
<!-- usando matAutosizeMinRows -->
<!-- <mat-form-field>
  <textarea matInput matTextareaAutosize matAutosizeMinRows="5"></textarea>
</mat-form-field> -->
<!-- .......................... -->

<!-- .......................... -->
<!-- usando matAutosizeMaxRows -->
<!-- <mat-form-field>
  <textarea matInput matTextareaAutosize matAutosizeMinRows="5" matAutosizeMaxRows="8"></textarea>
</mat-form-field> -->
<!-- .......................... -->
