<fieldset>
  <legend>menus</legend>
  <mat-checkbox indeterminate="true">Meu Texto</mat-checkbox>
</fieldset>

<mat-checkbox color="primary" #myCheck indeterminate="true" (indeterminateChange)="estadoIndeterminado($event)" (change)="estadoMudado($event)">
  Meu Texto
</mat-checkbox>
<button (click)="myCheck.indeterminate = true">
  Mudar valor
</button>







<!-- <mat-checkbox indeterminate="true" #myCheck
(indeterminateChange)="determina($event)">Meu Texto</mat-checkbox>
<button (click)="myCheck.indeterminate = true">mudar</button> -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- <mat-checkbox align="end" #myCheck checked="true" required>meu texto</mat-checkbox> -->
<br>
<button (click)="myCheck.indeterminate = true">indeterminate</button>
<br>
<br>
<input type="checkbox" name="" id="" checked>
<mat-checkbox labelPosition="before">meu texto</mat-checkbox>
<h1>mat-checkbox: Basic Example</h1>
<form>
<mat-checkbox [(ngModel)]="isChecked"
             name="cb"
             value="basic_checkbox"
             [color]="checkboxColor()"
             (change)="isIndeterminate = false"
             [indeterminate]="isIndeterminate"
             [disabled]="isDisabled"
             [align]="alignment">
  Do you want to <em>foobar</em> the <em>bazquux</em>?

</mat-checkbox> - <strong>{{printResult()}}</strong>
</form>
<div class="demo-checkboxes">
<input id="indeterminate-toggle"
       type="checkbox"
       [(ngModel)]="isIndeterminate"
       [disabled]="isDisabled">
<label for="indeterminate-toggle">Toggle Indeterminate</label>
<input id="disabled-toggle" type="checkbox" [(ngModel)]="isDisabled">
<label for="disabled-toggle">Toggle Disabled</label>
<input id="color-toggle" type="checkbox" [(ngModel)]="useAlternativeColor">
<label for="color-toggle">Toggle Color</label>
</div>
<div>
  <p>Alignment:</p>
  <div>
    <input #start type="radio"
                  value="start"
                  id="align-start"
                  name="alignment"
                  (click)="alignment = start.value"
                  checked>
    <label for="align-start">Start</label>
  </div>
  <div>
    <input #end type="radio"
                  value="end"
                  id="align-end"
                  name="alignment"
                  (click)="alignment = end.value">
    <label for="align-end">End</label>
  </div>
</div>

<!-- <h1>Pseudo checkboxes</h1>
<mat-pseudo-checkbox></mat-pseudo-checkbox>
<mat-pseudo-checkbox [disabled]="true"></mat-pseudo-checkbox>

<mat-pseudo-checkbox state="checked"></mat-pseudo-checkbox>
<mat-pseudo-checkbox state="checked" [disabled]="true"></mat-pseudo-checkbox>

<mat-pseudo-checkbox state="indeterminate"></mat-pseudo-checkbox>
<mat-pseudo-checkbox state="indeterminate" [disabled]="true"></mat-pseudo-checkbox> -->

<h1>Nested Checklist</h1>
<!-- <mat-checkbox-demo-nested-checklist></mat-checkbox-demo-nested-checklist> -->

<h2>Tasks</h2>
<ul>
  <li *ngFor="let task of tasks">
    <mat-checkbox [(ngModel)]="task.completed"
                 [checked]="allComplete(task)"
                 [indeterminate]="someComplete(task.subtasks)"
                 (change)="setAllCompleted(task.subtasks, $event.checked)">
      <h3>{{task.name}}</h3>
    </mat-checkbox>
    <ul>
      <li *ngFor="let subtask of task.subtasks">
        <mat-checkbox [(ngModel)]="subtask.completed">
          {{subtask.name}}
        </mat-checkbox>
      </li>
    </ul>
  </li>
</ul>

<!-- meu teste -->
<mat-checkbox (change)="allCheck($event.checked)" [(ngModel)]="todos">
  <h3>tarefas</h3>
</mat-checkbox>
<li *ngFor="let item of tarefas">
  <mat-checkbox [checked]="item.completed" (change)="verificaTodos($event.checked)" >
    {{ item.name }}
  </mat-checkbox>
</li>
