<!-- menu simples -->
<!-- <mat-sidenav-container class="tudo">
  <mat-sidenav #sidenav>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu sem fullscreen -->
<!-- <mat-sidenav-container>
  <mat-sidenav #sidenav>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu com fullscreen -->
<!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
    </mat-sidenav>

    <button (click)="sidenav.open()">dentro do container</button>
    <p>Primeiro parágrafo</p>
    <p>Segundo parágrafo</p>

  </mat-sidenav-container>

  <button (click)="sidenav.open()">fora do container</button> -->
  <!-- .................................................................. -->

<!-- menu com botão de fechar -->
<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <button (click)="sidenav.close()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
  <!-- .................................................................. -->

<!-- menu com mode='push' -->
  <!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode='push'>
        <button (click)="sidenav.close()">Fechar menu</button>
    </mat-sidenav>

    <button (click)="sidenav.open()">dentro do container</button>
    <p>Primeiro parágrafo</p>
    <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
  <!-- .................................................................. -->

  <!-- menu com mode='side' -->
  <!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode='side'>
        <button (click)="sidenav.close()">Fechar menu</button>
    </mat-sidenav>

    <button (click)="sidenav.open()">dentro do container</button>
    <p>Primeiro parágrafo</p>
    <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
  <!-- .................................................................. -->

  <!-- menu com position='start' -->
  <!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav position='start'>
        <button (click)="sidenav.close()">Fechar menu</button>
    </mat-sidenav>

    <button (click)="sidenav.open()">dentro do container</button>
    <p>Primeiro parágrafo</p>
    <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
  <!-- .................................................................. -->

<!-- menu com position='end' -->
<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav position='end'>
      <button (click)="sidenav.close()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu com opened='false'   -->
<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav opened='false'>
      <button (click)="sidenav.close()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu com opened='true' -->
<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav opened='true'>
      <button (click)="sidenav.close()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu com disableClose='false' -->
<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav disableClose='false'>
      <button (click)="sidenav.close()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu com disableClose='true' -->
<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav disableClose='true'>
      <button (click)="sidenav.close()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu com `fixedInViewport`, `fixedBottomGap` e `fixedTopGap`. -->
<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav [fixedInViewport]=true [fixedTopGap]=100 [fixedBottomGap]=100>
      <button (click)="sidenav.close()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="sidenav.open()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button (click)="sidenav.open()">fora do container</button> -->
<!-- .................................................................. -->

<!-- menu com estrutura simples -->
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
      <button (click)="fechar()">Fechar menu</button>
  </mat-sidenav>

  <button (click)="abrir()">dentro do container</button>
  <p>Primeiro parágrafo</p>
  <p>Segundo parágrafo</p>

</mat-sidenav-container>

<button>fora do container</button>
<!-- .................................................................. -->












